*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(237, 185, 219, 0.963);
}
.heading{
    background: linear-gradient(to top,#171b00,#fc4a1a);
    border-radius: 5px;
    box-shadow: rgba(0,0,0,.5) -4px -4px 4px;
    color: #fff;
    font-size: 3em;
    padding: 10px ;
    width: 493px;
    font-family: 'Maiden Orange',cursive;
    margin: 0;
    padding: 0;
}
img{
    margin-top: 30px;
    width: 100px;
    height: 100px;
}

.memory-game{
    margin-top: 20px;
 width: 649px;
 height: 649px;
 display: flex;
 flex-wrap: wrap;
 border: 5px solid rgb(10, 14, 10);
 background-color: rgb(138, 147, 147);
}

.memory-card{
    width: 35%;
    height: 34%;
    
}
.front-face,.back-face{
   
   border-radius: 5px;
}