body{
    background-color: rgb(39, 214, 39);
}
.heading{
    background: linear-gradient(to top,#fc9e3f,#fc4a1a);
    border-radius: 5px;
    box-shadow: rgba(0,0,0,.5) -4px -4px 4px;
    color: #fff;
    font-size: 3em;
    padding: 10px ;
    width: 493px;
    font-family: 'Maiden Orange',cursive;
}