*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
   
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    
   
}
.heading{
    background: linear-gradient(to top,#171b00,#fc4a1a);
    border-radius: 5px;
    box-shadow: rgba(0,0,0,.5) -4px -4px 4px;
    color: #fff;
    font-size: 3em;
    padding: 10px ;
    width: 493px;
    font-family: 'Maiden Orange',cursive;
    margin: 0 ;
    padding: 0;
}
img{
    margin-top: 60px;
    width: 100px;
    height: 100px;
    
   
   
}
.memory-game{
  margin-top: 86px;
 margin: auto;
 width:741px;
  height: 936px;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  cursor: pointer;
 display: flex;
 flex-wrap: wrap;
 border: 4px solid rgb(10, 14, 10);
 background-color: rgb(138, 147, 147);
}




/* .memory-card:hover{
    transform: rotateY(180deg);

} */
.memory-card-inner{
    width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}



.front-face,.back-face{

    width: 48%;
    height: 33%;
    /* position: absolute; */
    backface-visibility: hidden;

}
.front-face{
    background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.back-face{
    background-color: #4caf50;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
